html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }

#map-canvas { position: absolute; height: 600px; width: 600px }
#three-canvas { position: absolute; height: 600px; width: 600px; pointer-events:none;} 
